#right-bar
{
	float: right;
	width: 170px;
	height: 500px;
	padding: 0;
	margin: 0;
	display: inline;
	background-color: black;
	opacity: 0.7;
	overflow: scroll;
	color: white;
}

#right-bar h4 { margin: 0 0 0.7em; }

ul.videos li,img {
  cursor:pointer;
  opacity: 1;
}
ul.videos
{
  opacity: 1;
  margin: 0em;
  padding: 0em;
  margin-left: 0em;
  list-style: none;
}